Node-RED App for Conveyor Gateway/Pass Pallets.json
[
    {
        "id": "13a090e61913aacd",
        "type": "subflow",
        "name": "Wait for Pallet Passing",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 240,
                "wires": [
                    {
                        "id": "48821bf49c3b8b3b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 240,
                "wires": [
                    {
                        "id": "693e2adbca722b7e",
                        "port": 0
                    },
                    {
                        "id": "81d9d1e7184ea701",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "1bfddc3143db0a3b",
        "type": "delay",
        "z": "13a090e61913aacd",
        "name": "Delay Step",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "48821bf49c3b8b3b"
            ]
        ]
    },
    {
        "id": "f3652dcbf8bddd85",
        "type": "delay",
        "z": "13a090e61913aacd",
        "name": "Delay Step",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "0de1c46d0f23442d"
            ]
        ]
    },
    {
        "id": "15946d7d10e644fb",
        "type": "delay",
        "z": "13a090e61913aacd",
        "name": "Delay Step",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 440,
        "wires": [
            [
                "17106a91e2e5f1d7"
            ]
        ]
    },
    {
        "id": "81d9d1e7184ea701",
        "type": "switch",
        "z": "13a090e61913aacd",
        "name": "Check Mode",
        "property": "#:(file)::mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "automatic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "manual",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "693e2adbca722b7e"
            ],
            []
        ]
    },
    {
        "id": "693e2adbca722b7e",
        "type": "function",
        "z": "13a090e61913aacd",
        "name": "Increment Pass Counter",
        "func": "var passCounter = global.get(\"pass_counter_0\", \"file\")+1;\nvar workpieceQueue = global.get(\"workpiece_queue\", \"file\");\nif (passCounter >= workpieceQueue.length)\npassCounter = 0;\nglobal.set(\"pass_counter_0\", passCounter, \"file\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "48821bf49c3b8b3b",
        "type": "function",
        "z": "13a090e61913aacd",
        "name": "Wait until First Leg Leaves",
        "func": "if (global.get(`sensor_${msg.topic}_readings`) === 1)\nreturn [msg, null];\nelse\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "1bfddc3143db0a3b"
            ],
            [
                "0de1c46d0f23442d"
            ]
        ]
    },
    {
        "id": "0de1c46d0f23442d",
        "type": "function",
        "z": "13a090e61913aacd",
        "name": "Wait until Second Leg Comes",
        "func": "if (global.get(`sensor_${msg.topic}_readings`) === 1)\nreturn [msg, null];\nelse\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "17106a91e2e5f1d7"
            ],
            [
                "f3652dcbf8bddd85"
            ]
        ]
    },
    {
        "id": "17106a91e2e5f1d7",
        "type": "function",
        "z": "13a090e61913aacd",
        "name": "Wait until Second Leg Leaves",
        "func": "if (global.get(`sensor_${msg.topic}_readings`) === 0)\nreturn [msg, null];\nelse\nreturn [null, msg];\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "81d9d1e7184ea701"
            ],
            [
                "15946d7d10e644fb"
            ]
        ]
    },
    {
        "id": "9bb5c4f9fce2fdd0",
        "type": "tab",
        "label": "Pass Pallets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8995544d506fb8a9",
        "type": "mqtt in",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Command \"Pass Pallet\"",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "1",
        "datatype": "auto",
        "broker": "0957617de82d36a4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "61494a97737fa4ce"
            ]
        ]
    },
    {
        "id": "112c0b11fb0495e5",
        "type": "rpi-gpio out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Lock 0",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b5c0afeaa7640c8",
        "type": "rpi-gpio out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Lock 1",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "936c3caf0124302e",
        "type": "rpi-gpio out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Lock 3",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "7803b3b333f1a93b",
        "type": "mqtt out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "New State and Status to ThingsBoard",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0957617de82d36a4",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "f17fee108c7d91d9",
        "type": "rpi-gpio out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Lock 2",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c4dcd3c5b4388f3",
        "type": "mqtt in",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Command \"Pass Pallet\"",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "1",
        "datatype": "auto",
        "broker": "54c9a2ce6ee3b8bb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "92b58340f0d56c51"
            ]
        ]
    },
    {
        "id": "6d1bbd40d347e069",
        "type": "function",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Open",
        "func": "if (global.get(`sensor_${msg.topic}_readings`) == 1)\n{\n   msg.payload = 1;\n   return msg; \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8efa166b8ea3ce61",
                "44a675e0867d6e20",
                "edbd15bb2368163d"
            ]
        ]
    },
    {
        "id": "f17df7028ea6d1ab",
        "type": "change",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "44a675e0867d6e20",
                "edbd15bb2368163d"
            ]
        ]
    },
    {
        "id": "8efa166b8ea3ce61",
        "type": "subflow:13a090e61913aacd",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Wait",
        "env": [],
        "x": 170,
        "y": 380,
        "wires": [
            [
                "f17df7028ea6d1ab"
            ]
        ]
    },
    {
        "id": "6203abd6c40b3666",
        "type": "switch",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Is Command Correct",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "pass pallet",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "6d1bbd40d347e069"
            ]
        ]
    },
    {
        "id": "a58f1e53d99300d9",
        "type": "link in",
        "z": "9bb5c4f9fce2fdd0",
        "name": "To \"Pass Pallets\"",
        "links": [
            "0dd835e5561823d3",
            "0d6c44a2feea5a26",
            "976dfbc1633062b1"
        ],
        "x": 35,
        "y": 320,
        "wires": [
            [
                "6d1bbd40d347e069"
            ]
        ]
    },
    {
        "id": "87d0974ac84685a7",
        "type": "mqtt out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "New State and Status to ThingsBoard",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "54c9a2ce6ee3b8bb",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "da409c504c678564",
        "type": "function",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Update Lock State",
        "func": "msg.payload[\"isOpened\"] = msg.payload.isPassPalletExecuted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 560,
        "wires": [
            [
                "14cff543d15b6621"
            ]
        ]
    },
    {
        "id": "77604c06ab93628f",
        "type": "mqtt in",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Command \"Pass Pallet\"",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "1",
        "datatype": "auto",
        "broker": "75574e83caa0b1c3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "0af09c4f53aaf153"
            ]
        ]
    },
    {
        "id": "3cc179c7e1c8a4b1",
        "type": "mqtt out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "New State and Status to ThingsBoard",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75574e83caa0b1c3",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "d5c80c14a8460190",
        "type": "mqtt in",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Command \"Pass Pallet\"",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "1",
        "datatype": "auto",
        "broker": "62adae58e3352ad0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "66226c4b67a0209e"
            ]
        ]
    },
    {
        "id": "24d8a03a9198880f",
        "type": "mqtt out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "New State and Status to ThingsBoard",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "62adae58e3352ad0",
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "61494a97737fa4ce",
        "type": "change",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Specify Lock",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "6203abd6c40b3666"
            ]
        ]
    },
    {
        "id": "92b58340f0d56c51",
        "type": "change",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Specify Lock",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "6203abd6c40b3666"
            ]
        ]
    },
    {
        "id": "0af09c4f53aaf153",
        "type": "change",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Specify Lock",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "6203abd6c40b3666"
            ]
        ]
    },
    {
        "id": "66226c4b67a0209e",
        "type": "change",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Specify Lock",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "6203abd6c40b3666"
            ]
        ]
    },
    {
        "id": "14cff543d15b6621",
        "type": "switch",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Identify Lock",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 560,
        "wires": [
            [
                "7803b3b333f1a93b"
            ],
            [
                "87d0974ac84685a7"
            ],
            [
                "3cc179c7e1c8a4b1"
            ],
            [
                "24d8a03a9198880f"
            ]
        ]
    },
    {
        "id": "44a675e0867d6e20",
        "type": "switch",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Identify Lock",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "112c0b11fb0495e5"
            ],
            [
                "9b5c0afeaa7640c8"
            ],
            [
                "f17fee108c7d91d9"
            ],
            [
                "936c3caf0124302e"
            ]
        ]
    },
    {
        "id": "edbd15bb2368163d",
        "type": "function",
        "z": "9bb5c4f9fce2fdd0",
        "name": "Update Command Status",
        "func": "msg.payload = {\"isPassPalletExecuted\": Boolean(msg.payload)};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "02cba38f3f7cf3d3",
                "da409c504c678564"
            ]
        ]
    },
    {
        "id": "02cba38f3f7cf3d3",
        "type": "mqtt out",
        "z": "9bb5c4f9fce2fdd0",
        "name": "New Status to ThingsBoard",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7d0ddbad1ea23174",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "0957617de82d36a4",
        "type": "mqtt-broker",
        "name": "ThingsBoard Device \"Lock 0\"",
        "broker": "45.8.230.87",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "54c9a2ce6ee3b8bb",
        "type": "mqtt-broker",
        "name": "ThingsBoard Device \"Lock 1\"",
        "broker": "45.8.230.87",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "75574e83caa0b1c3",
        "type": "mqtt-broker",
        "name": "ThingsBoard Device \"Lock 2\"",
        "broker": "45.8.230.87",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "62adae58e3352ad0",
        "type": "mqtt-broker",
        "name": "ThingsBoard Device \"Lock 3\"",
        "broker": "45.8.230.87",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7d0ddbad1ea23174",
        "type": "mqtt-broker",
        "name": "ThingsBoard Device \"Conveyor\"",
        "broker": "45.8.230.87",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]